snippet doc
	"""${1:docstr}"""

snippet p
	print ${1:}
snippet T
	True
snippet F
	False
snippet H
	#!/usr/bin/env python
	# -*- coding: utf8 -*-
snippet --
	# ------------------------------------------------------------------
snippet r
	return 
snippet rep
	repr(${1:data})
snippet dn
	os.path.dirname(os.path.abspath(__file__))
snippet bn
	os.path.basename(os.path.abspath(__file__))
snippet abs
	os.path.abspath(__file__)
